{% extends 'base.html.twig' %}

{% block title %}Hello WordController!{% endblock %}

{% block body %}
    <form action="{{ path('word_check') }}">
        <button>Check</button>
    </form>
    <form action="{{ path('word_replay') }}">
        <button>Replay</button>
    </form>
    {% if game.step == 1 %}
        <img id="stick1" src="{{ asset('assets/img/1.png') }}">
    {% endif %}
    {% if game.step == 2 %}
        <img id="stick2" src="{{ asset('assets/img/2.png') }}">
    {% endif %}
    {% if game.step == 3 %}
        <img id="stick3" src="{{ asset('assets/img/3.png') }}">
    {% endif %}
    {% if game.step == 4 %}
        <img id="stick4" src="{{ asset('assets/img/4.png') }}">
    {% endif %}
    {% if game.step == 5 %}
        <img id="stick5" src="{{ asset('assets/img/5.png') }}">
    {% endif %}
    {% if game.step == 6 %}
        <img id="stick6" src="{{ asset('assets/img/6.png') }}">
    {% endif %}
    {% if game.step == 7 %}
        <img id="stick7" src="{{ asset('assets/img/7.png') }}">
    {% endif %}
    {% if game.step == 8 %}
        <img id="stick8" src="{{ asset('assets/img/8.png') }}">
    {% endif %}
    {% if game.step == 9 %}
        <img id="stick9" src="{{ asset('assets/img/9.png') }}">
    {% endif %}
    {% if game.step == 10 %}
        <img id="stick10" src="{{ asset('assets/img/10.png') }}">
    {% endif %}

{% endblock %}

